$secondery-text-color: #ffffff;
$cancel-button-color: #3258bc;
$danger-button-color: #f3483a;
$background-color: #ffffff;

:host {
  .container {
    padding: 80px;
  }

  .logout-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: $danger-button-color;

    mat-icon {
      height: 40px;
      font-size: 44px;
      width: 40px;
      cursor: pointer;
    }
  }

  table {
    width: 100%;

    .icon-container {
      display: flex;
      gap: 10px;

      .edit,
      .delete {
        cursor: pointer;
      }

      .delete {
        color: red;
      }
    }
  }
}

.delete-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 32px;

  .heading {
    font-size: 18px;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    button {
      font-weight: 600;
      font-size: 14px;
      height: 40px;
      width: 120px;
      border-radius: 100px;
      margin: 8px 0;
      cursor: pointer;
    }

    .delete-button {
      gap: 7px;
      border: none;
      color: $secondery-text-color;
      background: $danger-button-color;
      box-shadow: inset 0px -2px 4px rgba(20, 25, 34, 0.25);
    }

    .back-button {
      border: none;
      color: $cancel-button-color;
      border: 2px solid $cancel-button-color;
      background-color: $background-color;
    }
  }
}
